@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Reem+Kufi:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-indigo-50; 
    margin: 0;
    padding: 0;
  }

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
}
